@import "../../../../assets/styles/mixins.scss";

.document-notes {
    display: flex;
    flex-direction: column;
    width: 843px;

    &__head {
        display: flex;
        align-items: center;
        padding: 19px 34px;
        padding-bottom: 24px;
        background-color: color(modalhead);

        p {
            margin: 0;
            margin-right: auto;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.25px;
            color: color(textmain);
        }

        button {
            display: flex;
            padding: 5px;
            margin: 0;
            margin-right: -5px;
            background-color: transparent;
            outline: none;
            border: none;
            color: color(textsecondary);
            cursor: pointer;

            mat-icon {
                font-size: 18px;
                width: 18px;
                height: 18px;
            }
        }
    }

    &__main {
        padding: 30px 34px;
        background-color: color(modalbody);

        .input,
        .textarea {
            width: 775px;
        }

        .input {
            margin-bottom: 30px;
        }

        .textarea {
            height: 290px;

            &.error {
                border-color: color(error);;
            }
        }
    }

    &__info {
        display: flex;
        overflow-y: auto;
        margin-bottom: 40px;
        height: 170px;

        span {
            display: block;
            width: 20px;
            height: 20px;
            margin: 0;
            margin-right: 25px;
            background-color: #4787FF;
            border-radius: 50%;
        }

        table {
            display: table;
            width: 100%;
            table-layout: fixed;

            tr {
                cursor: pointer;
                background-color: color(modalbody);

                &.mat-header-row {
                    background: color(modalhead);
                    border-radius: 5px;
                    height: auto;
                    overflow: hidden;

                    th {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 12px;
                        letter-spacing: 0.25px;
                        color: color(textmain);
                    }
                }

                &.selected {
                    background-color: color(rowhover)!important;

                    td {
                        color: color(textmain);
                    }
                }

                &.mat-row {
                    height: auto;
                }

                th,
                td {
                    padding: 10px;
                    border-bottom: 0;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;

                    &:nth-of-type(1),
                    &:nth-of-type(2) {
                        width: 140px;
                    }

                    &.mat-cell,
                    &.mat-header-cell,
                    &.mat-footer-cell {
                        &:first-of-type {
                            padding-left: 23px;
                        }

                        &:last-of-type {
                            padding-right: 23px;
                        }
                    }
                }

                td {
                    padding: 7px 10px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    letter-spacing: 0.25px;
                    color: color(textsecondary);
                }
            }
        }
    }

    .error-desc {
        margin: 0;
        margin-bottom: 25px;
        margin-top: 25px;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.25px;
        color: color(error);;
    }

    &__desc {
        margin: 0;
        margin-bottom: 15px;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.25px;
        color: color(textmain);
    }

    &__controls {
        display: flex;
        align-items: center;
        margin-top: 25px;

        .button {
            width: 120px;

            &:first-of-type {
                margin-right: auto;
            }

            &:not(:first-of-type):not(:last-of-type) {
                margin-right: 5px;
            }
        }
    }

    &__add {
        display: flex;
        align-items: center;
        background-color: transparent;
        margin-bottom: 57px;
        padding: 0;
        outline: none;
        border: none;
        color: color(secondary);
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 1.25px;
        text-transform: uppercase;
        cursor: pointer;

        mat-icon {
            margin-right: 11px;
            color: color(secondary);
        }
    }
}