<perfect-scrollbar>
    <div class="domains-queues-mapping">
        <rms-table [displayedColumns]="displayedColumns" 
            *ngIf="(items$ | async) as items"
            [tableData]="items"
            [columnEditor]="false"
            [pagination]="false"
            (onSelectRow)="onSelectRow($event)"
            (onEdit)="onEdit($event)"
            title="All Users"
            [provider]="activeProvider">
            <div table-additional-content class="domains-queues-mapping__create">
                <button class="domains-queues-mapping__create-button"
                    (click)="onAddQueue($event)">
                    <mat-icon aria-label="Create user" aria-hidden="false">add_circle</mat-icon>
                    Add queue 
                </button>
            </div>
        </rms-table>
        
    </div>
</perfect-scrollbar>












