@import "../../../../../assets/styles/mixins.scss";

rms-matching {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;

    rms-table {
        &:not(:last-of-type) {
            margin-bottom: 23px;
        }
    }

    rms-filter {
        &.error {
            .filters__controls {
                margin-top: 24px;
            }
        }
    }
}

.matching {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    padding: 20px 24px;
    padding-right: 9px;
    overflow: auto;

    .filters__desc {
        padding-left: 15px;
    }

    &__buttons {
        display: flex;
        margin-right: auto;

        button {
            &:not(:last-of-type) {
                margin-right: 14px;
            }
        }
    }

    &__table-button {
        display: flex;
        align-items: center;
        background-color: transparent;
        padding: 0;
        margin-right: auto;
        outline: none;
        border: none;
        color: color(secondary);
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 1.25px;
        text-transform: uppercase;
        cursor: pointer;

        mat-icon {
            margin-right: 11px;
            color: color(secondary);
        }
    }
}