<section class="cash-arc">
    <div class="cash-arc__element">
        <div class="cash-arc__header">
            <p class="cash-arc__title">Remittance</p>
        </div>
        <perfect-scrollbar class="cash-arc__content">
            <rms-cash-arc-item title="Verification Issue Remittance"
                               outstandingItems="99"
                               amount="1305.65"></rms-cash-arc-item>
            <rms-cash-arc-item title="Unassociated Remittance"
                               outstandingItems="2"
                               amount="12003.20"></rms-cash-arc-item>
            <rms-cash-arc-item title="Unsubmitted Remittance"
                               outstandingItems="14"
                               amount="976.33"></rms-cash-arc-item>
            <rms-cash-arc-item title="Undistributed Remittance"
                               outstandingItems="103"
                               amount="104600.00"></rms-cash-arc-item>
            <rms-cash-arc-item title="Out of Balance"
                               outstandingItems="31"
                               amount="10000.00"></rms-cash-arc-item>
            <rms-cash-arc-item title="Fully Distributed Receipt"
                               outstandingItems="22"
                               amount="2443.80"></rms-cash-arc-item>
        </perfect-scrollbar>
    </div>
    <div class="cash-arc__element">
        <div class="cash-arc__header">
            <p class="cash-arc__title">Payments</p>
        </div>
        <perfect-scrollbar class="cash-arc__content">
            <rms-cash-arc-item title="Unclassified Payment"
                               outstandingItems="4"
                               amount="2627.51"></rms-cash-arc-item>
            <rms-cash-arc-item title="Unassociated Payment"
                               outstandingItems="16"
                               amount="8776.50"></rms-cash-arc-item>
            <rms-cash-arc-item title="Undistributed Payment"
                               outstandingItems="57"
                               amount="2903.92"></rms-cash-arc-item>
            <rms-cash-arc-item title="Out of Balance"
                               outstandingItems="7"
                               amount="2026.28"></rms-cash-arc-item>
            <rms-cash-arc-item title="Fully Distributed Receipt"
                               outstandingItems="68"
                               amount="1957.34"></rms-cash-arc-item>
        </perfect-scrollbar>
    </div>
</section>