<perfect-scrollbar class="research-encounter">
    <rms-table [displayedColumns]="displayedColumns" 
               *ngIf="(items$ | async) as items"
               [tableData]="items"
               download="true"
               (onSelectRow)="onSelectRow($event)"
               title="Encounter Results"
               (onExport)="onExport($event)"></rms-table>
    <rms-table [displayedColumns]="displayedColumnsHistory" 
               *ngIf="(items$ | async) as items"
               [tableData]="items"
               [selectOptionRow]="selectOptionRow"
               (onEditNotes)="onEditNotes()"
               (onEdit)="onEdit($event)"
               (onSelectRow)="onSelectRow($event)"
               (onSelectChange)="onSelectChange($event)"
               title="Transaction History"
               (onView)="onView()"></rms-table>
</perfect-scrollbar>
<rms-filter (onSearch)="onSearch()"
            (onClear)="onClear()"
            [formGroup]="filterForm"
            #ngForm="ngForm"
            novalidate
            [ngClass]="{error: ngForm.invalid && ngForm.submitted}">
    <perfect-scrollbar class="filters__content" filters-content>
        <rms-filter-component class="filters__element"
                        title="Patient Account"
                        shortDropdown="true"
                        *ngIf="(params$ | async) as params"
                        [options]="params.patient"
                        [ngClass]="{error: _patientAccount.invalid && ngForm.submitted}"
                        [PassedformControl]="filterForm.controls['patientAccount']"
                        (onChangeSearchOption)="onChangeSearchOptionPatientAccount($event)"
                        [selectedOption]="params.patientSelectedOption"></rms-filter-component>
        <rms-filter-date class="filters__element"
                        #dateOfService
                        (onDateChange)="onChangedateOfService($event)"
                        [ngClass]="{error: _dateOfService.invalid && ngForm.submitted}"
                        [PassedformControl]="filterForm.controls['dateOfService']"
                        title="Date Of Service"></rms-filter-date>
        <rms-filter-component class="filters__element"
                        title="Last Name"
                        shortDropdown="true"
                        *ngIf="(params$ | async) as params"
                        [options]="params.lastName"
                        [ngClass]="{error: _lastName.invalid && ngForm.submitted}"
                        [PassedformControl]="filterForm.controls['lastName']"
                        (onChangeSearchOption)="onChangeSearchOptionLastName($event)"
                        [selectedOption]="params.lastNameSelectedOption"></rms-filter-component>
        <rms-filter-component class="filters__element"
                        title="First Name"
                        shortDropdown="true"
                        *ngIf="(params$ | async) as params"
                        [options]="params.firstName"
                        [ngClass]="{error: _firstName.invalid && ngForm.submitted}"
                        [PassedformControl]="filterForm.controls['firstName']"
                        (onChangeSearchOption)="onChangeSearchOptionFirstName($event)"
                        [selectedOption]="params.firstNameSelectedOption"></rms-filter-component>
        <rms-filter-component class="filters__element"
                        title="Submitted Amount"
                        shortDropdown="true"
                        *ngIf="(params$ | async) as params"
                        [options]="params.submittedAmount"
                        [ngClass]="{error: _submittedAmount.invalid && ngForm.submitted}"
                        [PassedformControl]="filterForm.controls['submittedAmount']"
                        (onChangeSearchOption)="onChangeSearchOptionSubmittedAmount($event)"
                        [selectedOption]="params.submittedAmountSelectedOption"></rms-filter-component>
        <rms-filter-component class="filters__element"
                        title="Paid Amount"
                        shortDropdown="true"
                        *ngIf="(params$ | async) as params"
                        [options]="params.paidAmount"
                        [ngClass]="{error: _paidAmount.invalid && ngForm.submitted}"
                        [PassedformControl]="filterForm.controls['paidAmount']"
                        (onChangeSearchOption)="onChangeSearchOptionPaidAmount($event)"
                        [selectedOption]="params.paidAmountSelectedOption"></rms-filter-component>
        <rms-filter-component class="filters__element"
                        title="Transaction ID"
                        shortDropdown="true"
                        *ngIf="(params$ | async) as params"
                        [options]="params.transactionId"
                        [ngClass]="{error: _transactionId.invalid && ngForm.submitted}"
                        [PassedformControl]="filterForm.controls['transactionId']"
                        (onChangeSearchOption)="onChangeSearchOptionTransactionId($event)"
                        [selectedOption]="params.transactionIdSelectedOption"></rms-filter-component>
        <rms-filter-component class="filters__element"
                        title="Payer"
                        shortDropdown="true"
                        *ngIf="(params$ | async) as params"
                        [options]="params.payer"
                        [ngClass]="{error: _payer.invalid && ngForm.submitted}"
                        (onChangeSearchOption)="onChangeSearchOptionPayer($event)"
                        [PassedformControl]="filterForm.controls['payer']"
                        [selectedOption]="params.payerSelectedOption"></rms-filter-component>
        <rms-filter-component class="filters__element"
                        title="Provider"
                        shortDropdown="true"
                        *ngIf="(params$ | async) as params"
                         [options]="params.provider"
                        [ngClass]="{error: _provider.invalid && ngForm.submitted}"
                        (onChangeSearchOption)="onChangeSearchOptionProvider($event)"
                        [PassedformControl]="filterForm.controls['provider']"
                        [selectedOption]="params.providerSelectedOption"></rms-filter-component>
    </perfect-scrollbar>
    <div filters-errors class="filters__errors">
        <p *ngIf="_dateOfService.invalid && ngForm.submitted && !dateOfService.rangeMode">Please provide a valid date in one of the following formats: <br> MM-dd-yy, MM-dd-yyyy, MM/dd/yy, MM/dd/yyyy</p>
        <p *ngIf="_dateOfService.invalid && ngForm.submitted && dateOfService.rangeMode" >Please provide a valid date in one of the following formats: <br> MM-dd-yy - MM-dd-yy, MM-dd-yyyy - MM-dd-yyyy, MM/dd/yy - MM/dd/yy, MM/dd/yyyy-MM/dd/yyyy</p>
        <p *ngIf="_patientAccount.invalid && ngForm.submitted">Please provide the following field(s):  Patient Account</p>
        <p *ngIf="_lastName.invalid && ngForm.submitted">Please provide the following field(s):  Last Name</p>
        <p *ngIf="_firstName.invalid && ngForm.submitted">Please provide the following field(s):  First Name</p>
        <p *ngIf="_submittedAmount.invalid && ngForm.submitted">Please provide the following field(s):  Submitted Amount</p>
        <p *ngIf="_paidAmount.invalid && ngForm.submitted">Please provide the following field(s):  Paid Amount</p>
        <p *ngIf="_transactionId.invalid && ngForm.submitted">Please provide the following field(s):  TransactionId</p>
        <p *ngIf="_payer.invalid && ngForm.submitted">Please provide the following field(s):  Payer</p>
        <p *ngIf="_provider.invalid && ngForm.submitted">Please provide the following field(s):  Provider</p>
        <p *ngIf="filterForm.hasError('noResultsFound')">No results found with your parameters</p>
    </div>
</rms-filter>