<perfect-scrollbar class="reconciliation">
    <rms-table [displayedColumns]="canDownload ? displayedColumns : displayedColumnsWithoutDownload" 
               #table
               *ngIf="(items$ | async) as items"
               [tableData]="items"
               download="true"
               [title]="'Summary: $' + (total | number)"
               (onExport)="onExport($event)"
               (onSelectRow)="onSelectRow($event)"
               (onDownload)="onDownload($event)"></rms-table>
    <rms-table [displayedColumns]="displayedColumnsLockbox"
               *ngIf="(items$ | async) as items"
               [tableData]="items"
               [selectOptionRow]="selectOptionRow"
               (onSelectChange)="onSelectChange($event)"
               (onSelectRow)="onSelectRow($event)"
               (onExport)="onExport($event)"></rms-table>
</perfect-scrollbar>
<rms-filter (onSearch)="onSearch()"
            (onClear)="onClear()"
            [formGroup]="filterForm"
            novalidate
            #ngForm="ngForm"
            [ngClass]="{error: ngForm.invalid && ngForm.submitted}">
    <perfect-scrollbar class="filters__content" filters-content>
        <rms-filter-date class="filters__element"
                         #processDate
                         [rangeMode]="false"
                         (onDateChange)="onChangeProcessDate($event)"
                         [ngClass]="{error: _processDate.invalid && ngForm.submitted}"
                         [PassedformControl]="filterForm.controls['processDate']"
                         title="Process Date"></rms-filter-date>
        <rms-filter-date class="filters__element"
                         #dateOfDeposit
                         (onDateChange)="onChangeDateOfDepisit($event)"
                         [ngClass]="{error: _dateOfDeposit.invalid && ngForm.submitted}"
                         [PassedformControl]="filterForm.controls['dateOfDeposit']"
                         title="Date Of Deposit"></rms-filter-date>
        <rms-filter-component class="filters__element"
                              title="Lockbox"
                              shortDropdown="true"
                              *ngIf="(params$ | async) as params"
                              [options]="params.lockbox"
                              [ngClass]="{error: _lockbox.invalid && ngForm.submitted}"
                              [PassedformControl]="filterForm.controls['lockbox']"
                              (onChangeSearchOption)="onChangeSearchOptionLockbox($event)"
                              [selectedOption]="params.lockBoxSelectedOptions"></rms-filter-component>
        <rms-filter-component class="filters__element"
                              title="Payer Name"
                              shortDropdown="true"
                              *ngIf="(params$ | async) as params"
                              [options]="params.payerName"
                              [ngClass]="{error: _payer.invalid && ngForm.submitted}"
                              [PassedformControl]="filterForm.controls['payer']"
                              (onChangeSearchOption)="onChangeSearchOptionPayerName($event)"
                              [selectedOption]="params.payerNameSelectedOptions"></rms-filter-component>
        <rms-filter-component class="filters__element"
                              title="Payer Group"
                              shortDropdown="true"
                              [dropdown]="true"
                              *ngIf="(params$ | async) as params"
                              [options]="params.payerGroup"
                              [ngClass]="{error: _payerGroup.invalid && ngForm.submitted}"
                              [PassedformControl]="filterForm.controls['payerGroup']"
                              [selectedOption]="params.payerGroupSelectedOptions"></rms-filter-component>
        <rms-filter-component class="filters__element"
                              title="Batch Number"
                              shortDropdown="true"
                              *ngIf="(params$ | async) as params"
                              [options]="params.batchNumber"
                              [ngClass]="{error: _batchNumber.invalid && ngForm.submitted}"
                              [PassedformControl]="filterForm.controls['batchNumber']"
                              (onChangeSearchOption)="onChangeSearchOptionBatchNumber($event)"
                              [selectedOption]="params.batchNumberSelectedOptions"></rms-filter-component>
        <rms-filter-component class="filters__element"
                              title="File Name"
                              shortDropdown="true"
                              *ngIf="(params$ | async) as params"
                              [options]="params.fileName"
                              [ngClass]="{error: _fileName.invalid && ngForm.submitted}"
                              [PassedformControl]="filterForm.controls['fileName']"
                              (onChangeSearchOption)="onChangeSearchOptionFileName($event)"
                              [selectedOption]="params.fileNameSelectedOptions"></rms-filter-component>
        <rms-filter-component class="filters__element"
                              title="Document Type"
                              shortDropdown="true"
                              [dropdown]="true"
                              *ngIf="(params$ | async) as params"
                              [options]="params.documentType"
                              [ngClass]="{error: _documentType.invalid && ngForm.submitted}"
                              [PassedformControl]="filterForm.controls['documentType']"
                              [selectedOption]="params.documentTypeSelectedOptions"></rms-filter-component>
        <rms-filter-component class="filters__element"
                              title="Provider"
                              shortDropdown="true"
                              *ngIf="(params$ | async) as params"
                              [options]="params.provider"
                              [ngClass]="{error: _provider.invalid && ngForm.submitted}"
                              [PassedformControl]="filterForm.controls['provider']"
                              (onChangeSearchOption)="onChangeSearchOptionProvider($event)"
                              [selectedOption]="params.providerSelectedOption"></rms-filter-component>
        <p class="filters__desc">Max Shown 200</p>
        <hr>
        <rms-filter-component class="filters__element"
                              title="Grouping"
                              shortDropdown="true"
                              (onChangeSelect)="onChangeGrouping($event)"
                              [dropdown]="true"
                              [selectOption]="selectOption"
                              [ngClass]="{error: _grouping.invalid && ngForm.submitted}"
                              [PassedformControl]="filterForm.controls['grouping']"
                              *ngIf="(params$ | async) as params"
                              [options]="params.grouping"></rms-filter-component>
    </perfect-scrollbar>
    <div filters-errors class="filters__errors">
        <p *ngIf="_provider.invalid && ngForm.submitted">Please provide the following field(s):  Provider</p>
        <p *ngIf="_dateOfDeposit.invalid && ngForm.submitted && dateOfDeposit.rangeMode" >Please provide a valid date in one of the following formats: <br> MM-dd-yy - MM-dd-yy, MM-dd-yyyy - MM-dd-yyyy, MM/dd/yy - MM/dd/yy, MM/dd/yyyy-MM/dd/yyyy</p>
        <p *ngIf="_dateOfDeposit.invalid && ngForm.submitted && !dateOfDeposit.rangeMode">Please provide a valid date in one of the following formats: <br> MM-dd-yy, MM-dd-yyyy, MM/dd/yy, MM/dd/yyyy</p>
    </div>
</rms-filter>