<form class="reset-pass" [formGroup]="resetPassForm" novalidate>
    <p class="reset-pass__title">Your password has expired and must be reset</p>
    <div class="reset-pass__content">
        <p class="reset-pass__subtitle">Your password must:</p>
        <p class="reset-pass__text">Contain at least: eight characters, one  upper case letter, one  lower case letter, one  number, one symbol.</p>
        <p class="reset-pass__text">Not contain characters repeating more than twice. <br> Not be a password you have previously used.</p>
        <p class="reset-pass__text">Example: S@mple12</p>
        <div class="reset-pass__input-wrap" [ngClass]="{error: _new.invalid && (_new.touched || _new.dirty)}">
            <p class="reset-pass__subtitle">New password</p>
            <input class="input" type="password" formControlName="new">
        </div>
        <div class="reset-pass__input-wrap" [ngClass]="{error: resetPassForm.hasError('notSame') && (_confirm.touched || _confirm.dirty)}">
            <p class="reset-pass__subtitle">Confirm password</p>
            <input class="input" type="password" formControlName="confirm">
        </div>
        <div class="reset-pass__errors">
            <p *ngIf="_new.invalid && (_new.touched || _new.dirty)">Password does not match requirements.</p>
            <p *ngIf="resetPassForm.hasError('notSame') && (_confirm.touched || _confirm.dirty)">Password does not match confirmation.</p>
        </div>
        <button mat-flat-button
                    [disabled]="resetPassForm.invalid"
                    (click)="onSubmit()"
                    class="button button_green">Change Password</button>
    </div>
</form>