@import "../../../../../assets/styles/mixins.scss";

rms-domains-info {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.domains-info {
    display: flex;
    flex-grow: 2;
    flex-wrap: wrap;
    width: 100%;

    &__header {
        display: flex;
        padding: 20px 32px;
        border-bottom: 1px solid color(borderlight);
    }

    &__title {
        margin: 0;
        margin-right: auto;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.25px;
        color: color(textmain);
    }

    &__textarea {
        position: relative;
        width: 45%;
        background-color: color(lightcolor);
        border-radius: 5px;
        border: 1px solid transparent;
        
        align-self: flex-start;

        &.error {
            border: 1px solid color(error);
        }

        textarea {
            width: 100%;
            height: 370px;
            padding: 16px;
            padding-top: 41px;
            outline: none;
            border: none;
            resize: none;
            background-color: transparent;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            color: color(textsecondary);
        }

        p {
            position: absolute;
            top: 15px;
            left: 16px;
            margin: 0;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            color: color(textmain);
        }
    }

    &__controls {
        width: 100%;
        display: flex;
        margin-top: auto;
        
        button.button {
            width: 206px;

            &:not(:last-of-type) {
                margin-right: 16px;
            }
        }
    }

    &__left {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        width: calc(55% - 22px);
        margin-right: 22px;
        margin-bottom: -24px;

        rms-filter-component {
            width: calc(50% - 22px);
            margin-bottom: 24px;

            &:nth-of-type(odd) {
                margin-right: 22px;
            }
        }
    }

    
    &__provider {
        display: flex;
        margin: 0;

        dt,
        dd {
            margin: 0;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.25px;
            color: color(textsecondary);
        }
        dd {
            margin-left: 5px;
            color: color(textmain);
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        align-items: flex-start;
        padding: 40px 32px;
        padding-bottom: 45px;
        height: calc(100% - 85px);

        button.button_green {
            width: 206px;
            align-self: flex-end;
        }

        &_domains,
        &_queue {
            table {
                thead tr.mat-header-row th {
                    padding-left: 53px;
                    padding-right: 53px;

                    mat-checkbox {
                        margin-right: 23px;
                    }

                    & > span {
                        margin-left: 120px;
                    }
                }

                tbody {
                    td {
                        padding: 0 13px!important;
                    }
                }
            }
        }
    }

    &__left-side {
        display: flex;
        flex-wrap: wrap;
        width: 60%;
        margin-left: -11px;
        margin-right: 107px;
    }

    &__element {
        width: calc(50% - 22px);
        margin: 0 11px;
        margin-bottom: 24px;
    }

    &__radio {
        display: flex;
        flex-direction: column;

        p {
            margin: 0;
            margin-bottom: 15px;
            font-weight: normal;
            font-size: 12px;
            line-height: 24px;
            letter-spacing: 0.15px;
            color: color(textsecondary);
        }
    }

    &__termin {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;

        dt,
        dd {
            margin: 0;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.25px;
            color: color(textsecondary);
        }
        dd {
            color: color(textmain);
        }

        dt {
            margin-bottom: 13px;
        }
    }


    &__tables {
        display: flex;
        align-items: center;
        width: 100%;

        thead {
            th {
                &:nth-of-type(3) {
                    text-align: center;
                    right: 50%;
                    transform: translateX(calc(50% + 24px));
                }
            }
        }

    }

    &__table-wrap {
        height: 393px;
        width: calc(50% - 38px);
        border-radius: 3px;
        border: 1px solid #E9EDEF;

        &:first-of-type {
            margin-right: 23px;
        }
    }

    &__switcher {
        display: flex;
        flex-direction: column;
        margin-right: 23px;

        button {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0;
            width: 30px;
            height: 30px;
            background-color: #E9EDEF;
            border: none;
            outline: none;
            color: color(textsecondary);
            line-height: initial;
            min-width: auto;

            &:active {
                background-color: color(secondary);
                color: white;
            }

            &:not(:last-of-type) {
                margin-bottom: 5px;
            }
        }
    }
    rms-nested-list-table {
        width: 100%;
    }

    mat-tab-group {
        height: 100%;
        width: 100%;

        .mat-ink-bar {
            display: none;
        }
        
        mat-tab-header {
            width: 100%;
            background-color: color(tab);
            border-bottom: none;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);

            .mat-tab-label {
                flex-grow: 2;

                .mat-tab-label-content {
                    text-transform: uppercase;
                    letter-spacing: 0.75px;
                }
            }

        }

        .mat-tab-body-wrapper {
            flex: 1;
            padding: 20px 24px;
            background-color: transparent;
            overflow: hidden;
            height: 807px;
            
            .mat-tab-body-content  {
                display: flex;
                flex-direction: column;
                border-radius: 7px;
                background-color: color(maincolor);

            }
        }
    }

    table {
        width: 100%;

        thead {
            tr.mat-header-row {
                background-color: color(modalhead);

                th {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 20px;
                    letter-spacing: 0.25px;
                    color: color(textmain);

                    &:first-of-type {
                        width: 64px;
                    }

                    p {
                        margin-left: 16px;
                        display: inline;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 20px;
                        letter-spacing: 0.25px;
                        color: color(textmain);
                    }
                }
            }
        }

        tbody {
            tr {
                cursor: pointer;
                background-color: color(modalbody);

                td {
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 20px;
                    letter-spacing: 0.25px;
                    color: color(textsecondary);
                    border: none;

                    &:first-of-type {
                        width: 64px;
                    }
                }
            }
        }
    }

    &__select {
        position: relative;
        width: 405px;
        margin-right: auto;
        
        .grey-select {
            padding: 10px 17px;
            padding-top: 27px;
            padding-bottom: 11px;

            .mat-select-value-text {
                font-weight: 500;
                font-size: 12px;
            }

            .mat-select-arrow-wrapper {
                transform: translateY(-6px);
            }
        }

        p {
            position: absolute;
            top: 11px;
            left: 16px;
            margin: 0;
            font-weight: normal;
            font-size: 11px;
            line-height: 16px;
            letter-spacing: 0.4px;
            color: color(textsecondary);
        }
    }
}